@charset "utf-8";
/* CSS Document */

table, tbody, tfoot, thead, tr, th, td {
	vertical-align:middle;	
}

* {
	/*font-family:Verdana, Geneva, sans-serif;*/
	font-family:Arial,Helvetica;
	font-size:12px;
	line-height:18px;
	/*color:#242424;*/
}

p {
	margin:10px 0;
}

body {
	background-image:url('../images/bg-body.gif');
	background-repeat:repeat-x;
	background-position:top left;	
	background-color:#FDFEFD;
}

a:link { /* unvisited link */
	color:#d3561e;
	text-decoration:underline;
}

a:visited { /* visited link */
	color:#974825;
	text-decoration:underline;
}
a:hover { /* mouse over link */
	color:#d3561e;
	text-decoration:none;
}
a:active { /* selected link */
	color:#d3561e;
	text-decoration:none;
} 

h1,
h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:active,
h2,
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
  font-size:18px;
	color:#000000;
	padding:10px 0;
	color:#000000;
	padding:13px 0;
  text-decoration:none;
}

h3 {
	font-size:18px;
	color:#000000;
	padding:10px 0;
}

h3 span {
	font-size:18px;
}

h3.title a {
	font-size:16px;
	color:#000000;
	padding:10px 0;
	text-decoration:none;
}

h3 .green {
	/*color:#6DB10C;*/
	color:#000;
}

table {
		width:100%;
}

table td {
		padding:5px;
} 

.clear {
	clear:both;	
}

.top-content-full-width  {
	margin:0 0 10px 15px;
	padding:0 5px;
	width:945px;
}

.top-content-full-width p {
	margin:0;
	padding:0;
}

.top-content-full-width .block-468 {
	float:left;
	margin:1px;
	width:468px;
}

.block {
	clear:both;	
	margin:5px 0;
}

.block.block-menu {
	margin:5px 0 20px 0;
}

.left-sidebar .content .menu li.leaf {
	list-style-image:none;
	list-style-type:none;
}

.left-sidebar .content .menu li.leaf.last {
	border-bottom:none;
}

.left-sidebar .content .menu li.collapsed.last {
	border-bottom:none;
}

.block ul {
	margin:0;
	padding:0;
}

.forum-links ul.links {
	margin-right:0;padding-right:0;
}

#main-wrapper {
	width:100%;
	height:100%;
	background-image:url('../images/football-players-top.jpg');
	background-repeat:no-repeat;
	background-position:top center;
}

#gradient-left-right {
	width:990px;
	padding:0 9px;
	margin:0 auto;
	background-image:url('../images/bg-gradient.png');
	background-repeat:repeat-y;
	background-position:top left;
}

#gradient-bottom {
	border-top:1px solid #ccc;
	position:relative;
	width:996px;
	margin:0 auto;
}


#container-wrapper {
	background-image:url('../images/bg-content.png');	
	/*border-bottom:2px solid #ccc;*/
}

#header {
	width:963px;
	height:80px;
	background-image:url('../images/bg-header.png');
	background-repeat:no-repeat;
	background-position:top left;
	margin:20px auto 10px auto;
}

#header #logo img {
	margin:7px 0 0 20px;	
}

#header #top-menu h2 {
  display:none;
}

#header #top-menu ul {
	margin:38px 0 0 10px;	
}

#header #top-menu ul li {
	float:left;
	background-image:url('../images/header-bullet.png');
	background-repeat:no-repeat;
	background-position:0 8px;
	padding:0px 12px;
  list-style: none;
}

#header #top-menu ul li.first {
	background-image:none;
}

#header #top-menu ul li a {
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}

#header #top-menu ul li a.active {
	color:#182902;	
}

.content-bottom-500 {
	width:490px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom-700 {
	width:690px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom-full-width {
	width:935px;
	padding:5px 10px;
	/*margin-top:5px;*/
}

.content-bottom .title {
	padding-bottom:5px;	
}

.content-bottom .title a {
	font-size:18px;
	color:#000033;
	padding:10px 0 5px 0;
	text-decoration:none;
}

.content-bottom .date-submitted, 
.content-bottom .date-submitted span.username,
.content-bottom .date-submitted span.date,
.content-bottom .date-submitted span.username a {
	font-size:11px;
	color:#898989;
	padding:0 0 5px 2px;
	text-decoration:none;
}

.content-bottom .date-submitted .username,
.content-bottom .date-submitted .date{
	font-weight:bold;
}

.content-bottom .more {
	margin:0 0 10px 0;
	float:right;
}

.content-bottom .tags {
	clear:both;	
}

.tags .tag-title {
	font-weight:bold;	
}


.left-sidebar {
	margin-left:15px;
	width:210px;
	padding:10px;
}

.right-sidebar {
	margin-top:0px;
	width:170px;
	padding:10px;
}

.right-sidebar h3 {
	font-size:20px;	
	border-bottom:1px dotted #c5c5c5;
	padding:5px 0;
}

.right-sidebar h3 span {
	font-size:20px;	
}

.search-500 {
	margin-top:0px;
	padding:5px;
	width:500px;
}

.search-700 {
	margin-top:0px;
	padding:5px;
	width:700px;
}

.banner {
	padding:5px 10px;
	margin-top:0px;
	width:490px;
}


.round-corners-5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.gray-bg {
	background-color:#e5e5e5;
	border: 1px solid #d9d9d9;
}

.white-bg {
	background-color:#fff;
	border: 1px solid #d9d9d9;
}


#footer {
	margin:15px;	
	width:940px;
	padding:10px;
}

#footer h3 {
	background-image:url("../images/arrow-left.png");
	background-position:0 5px;
	background-repeat:no-repeat;
	font-size:20px;
	margin:0;
	padding:5px 0 10px 40px;	
}

#footer h3 span {
	font-size:20px;
}

#footer .footer-column {
	width:260px;
	padding:10px 20px;
}

#footer .footer-subtitle {
	color:#575757;
	font-style:italic;
	font-size:12px;
	font-weight:bold;
	font-family:verdana;
}

#footer p {
	font-size:11px;
	color:#898989;	
}

#footer p a {
	font-size:11px;
}

#footer-menu .footer-links li {
	background-image:url("../images/plus.png");
	background-position:2px 10px;
	background-repeat:no-repeat;
	border-bottom:1px dotted #C5C5C5;
	color:#898989;
	height:12px;
	margin:0;
	padding:7px 0 10px 25px;
}

#footer-menu .footer-links li a {
	color:#4e8408;
}

#footer .quote {
	font-style:italic;
	padding-bottom:0px;
	margin-bottom:0px;
}

#footer .quote-user {
	text-align:right;
	padding-top:0px;
	font-style:italic;
	color:#898989;
}

#footer .quote-image {
	float:left;
	margin:10px 10px 10px 0;	
}

.left-sidebar .block h3 {
	background-image:url('../images/arrow-left.png');
	background-repeat:no-repeat;
	background-position:0 5px;
	padding:5px 0 10px 40px;
	margin:0;
	font-size:20px;
}

.left-sidebar .block h3 span {	
	font-size:20px;
}

.left-sidebar .block .menu li {
	background-image:url("../images/plus.png");
	background-position:2px 11px;
	background-repeat:no-repeat;
	border-bottom:1px dotted #C5C5C5;
	color:#898989;
	margin:0;
	padding:9px 0 8px 25px;
}


.left-sidebar .block .menu li.expanded .menu li {
	background-image:none;
	padding-left:0;
}


.left-sidebar .block ul li.expanded {
	list-style-image:none;
	list-style-type:none;
	border-bottom:none;
	padding-bottom:0;
}

.left-sidebar .block ul li.collapsed {
	list-style-image:none;
	list-style-type:none;
}

.left-sidebar .block ul li.expanded .menu li {
	padding:5px 0 5px 25px;
	background-position:2px 8px;
}

.left-sidebar .block ul li a {
	color:#555;
	text-decoration:none;
}

.left-sidebar .block .button {
	float:right;
	margin:20px 0 15px 0;
}

.search-wrapper {
	background-image:url('../images/search-input-bg-650.png');
	background-repeat:no-repeat;
	height:39px;
}

.search-wrapper .search-input {
	background-image:url('../images/magnifier.png');
	background-repeat:no-repeat;
	height:20px;
	padding:5px 0 5px 40px;
	margin:5px 0 0 10px;
	border:none;
	font-size:14px;
	color:#bdbdbd;
}

.search-700 .search-input {
  width:560px;
}

.search-500 .search-input {
  width:360px;
}

.search-wrapper .search-button {
	float:right;	
}


/*Theme fix*/
#block-menu-menu-case-de-pariuri.block h3 {
	/*padding-top:0px;
	background-position:0 0;*/
}

#edit-search-theme-form-1-wrapper {
	width:360px;
	float:left;
	margin:0;
}

/*forum*/
#forum .container .name a {font-size:14px;font-weight:bold;color:#000;text-decoration:none;}
#forum .description {margin-left:0px;}
#forum .odd, #forum .even {background-color:#fff;}
#forum .container {background-color:#eee;}
#forum div.indent {margin-left:0px;}
#forum tr td.forum {background-position:0 7px;}
#forum ul.links li {padding-left:0px;}
#forum ul.links {margin:10px 0;padding:0px;}
#forum .active {color:#000;}
/*#forum .title a {color:#000;font-size:14px;}*/
.node-forum {width:700px;}
.node-forum .forum-message {width:485px;padding-left:10px;border-left:1px solid #ccc;}
.node-forum .forum-user a {}
.node-forum .forum-date {color:#898989;font-size:11px;border-bottom:1px solid #ccc;margin:10px 0;}
.node-forum .forum-user-register-date {color:#898989;clear:both;display:block;font-size:11px;}
.node-forum .forum-links {text-align:right;margin:15px 0 0 0;}
/*.node-forum .forum-links, .node-forum .forum-links a {font-size:11px;}*/
.node-forum .forum-topic-navigation {display:none;}
.node-forum .forum-title {font-size:12px;font-weight:bold;margin:10px 0;}


/*advanced forum*/
#forum table td,
#forum table th { 
	padding:5px 5px !important;
}

#forum table td {
	border:1px solid #ccc;
}

#forum th {
	background-color:#72B13A;
	border:1px solid #72B13A;
}

#forum th,
#forum th a {
	color:#fff !important;
	text-decoration:none;
	font-weight:bold;
}

#forum th.forum-name {
	text-align:left;
	padding-left:15px;
}

#forum td.posts, #forum td.topics{
	width:60px;
}


#forum td.last-reply {
	width:200px;
}

#forum .forum-topics td.last-reply,
#forum .forum-topics td.created {
	width:150px;
}

#forum td.forum-desc {
	width:520px;
}

#forum td.last-reply .forum-submitted-bold,
#forum td.created .forum-submitted-bold {
	font-weight:bold;
	line-height:18px;
	font-size:12px;
}

#forum td.last-reply,
#forum td.created {
	line-height:18px;
	font-size:12px;
}

#forum .forum-topics .even {
	background-color:#EEEEEE;
}

#forum td.posts, #forum td.topics, #forum td.last-reply {
	/*background-color:#efefef;*/
}

.post-info {
	border-bottom:1px solid #ccc;
	padding-top:10px;
}

.forum-post-panel-main {
	border-left:1px solid #ccc;
}

.forum-post-panel-main .post-title {
	font-size:14px;
	font-weight:bold;
	padding:10px 0 10px 10px; 
}

.author-joined,
.author-joined .author-pane-label {
	color:#898989;
	font-size:11px;
}

.forum-topic-legend {
	margin-top:15px;
}

/*end advanced forum*/

/*node-stiri*/
.date-submitted,
.date-submitted a,
.date {
	color:#898989;
	font-size:11px;
}

.field-field-imagine-stiri {
	width:auto;
	float:left;
	margin:5px 10px 0 0;
}

.middle-content .title {
	padding-bottom:0;
}

.middle-content ul,
.middle-content ol {
	list-style:disc;
	margin:10px;
	padding:10px;
}

.middle-content ul li,
.middle-content ol li {
	margin: 0 0 10px 0;
  padding: 0 10px 0 0;
}

.middle-content-full-width {
	margin:0 0 10px 15px;
	width:955px;
}

.read-more {
	text-align:right;
	margin:10px 5px;
}

.links .node_read_more {display:none;}

/*.tags .links {margin-left:10px;}*/

.comments {
	margin:10px 0;
}

.indented  {
	margin-left:0;
}

.box {margin:0;padding:0;background-color:#fff;}

.views-table .views-field-counter {width:15px;}
/*
.view-biletul-zilei-listing-taxonomy .views-table .odd { background-color:#fff; }
.view-biletul-zilei-listing-taxonomy .views-table .even { background-color:#E5E5E5; }
*/

.tags ul {margin:0;padding:0;}
.comments ul {margin:0;padding:0;}

.right-sidebar .block ul, .item-list ul { margin-left:10px; }
.item-list ul li {margin:0;text-align:left;}
.forum-tags ul {padding:0px;margin:0px;}

/*biletul zilei*/
#block-views-biletul_zilei_listing-block_1 h3 {font-size:20px;margin:0;padding:10px 0 10px 0;}
#block-views-biletul_zilei_listing-block_1 h3 span {font-size:20px;margin:0;}


/*header*/

/*biletul zilei home*/
#block-views-biletul_zilei_listing-block_1 .view-content .views-table td, 
#block-views-biletul_zilei_listing-block_1 .view-content .views-table th,
/*biletul zilei in pagina*/
.view-biletul-zilei-detalii .view-content .views-table td, 
.view-biletul-zilei-detalii .view-content .views-table th,

.view-predictii-pronosticuri .view-content .views-table td, 
.view-predictii-pronosticuri .view-content .views-table th
{
	padding:5px 10px 5px 15px;
}

.view-biletul-zilei-listing .view-content .views-table .view-field-header-row,
.view-biletul-zilei-detalii .view-content .views-table .view-field-header-row
{
	background-image:url('../images/biletul-zilei-header.png');
	background-repeat:no-repeat;
}

#block-views-biletul_zilei_listing-block_1 .view-content .views-table .view-field-header-row th,
.view-biletul-zilei-detalii .view-content .views-table .view-field-header-row th 
{
	padding-bottom:20px;
	color:#457407;
	font-weight:bold;
	text-shadow:#FFF 2px 1px;
	border:none;
}

/*end header*/

/*background*/

/*home*/
.view-biletul-zilei-listing,
/*in pagina*/
.view-biletul-zilei-detalii 
{
	background-image:url('../images/biletul-zilei-bg.png');
	background-repeat:no-repeat;
	padding:10px 5px;
}

/*content*/
#block-views-biletul_zilei_listing-block_1 .view-content .views-table {	width:100%;}
.view-biletul-zilei-detalii  .view-content .views-table {	width:100%;}

#block-views-biletul_zilei_listing-block_1 .view-content .views-table tr.odd,
.view-biletul-zilei-detalii .view-content .views-table tr.odd
{ 
	background-color:transparent;
	border:none;
	background-image:url('../images/odd.png'); 
	background-repeat:no-repeat;
	position:relative;
	
}

#block-views-biletul_zilei_listing-block_1 .view-content .views-table .odd td, 
.view-biletul-zilei-detalii .view-content .views-table .odd td 
{
	padding-bottom:11px;
	padding-top:7px;
	text-shadow:#FFF 2px 1px;
}

#block-views-biletul_zilei_listing-block_1 .view-content .views-table tr.even,
.view-biletul-zilei-detalii  .view-content .views-table tr.even {
	background-color:transparent;
	border:none;
	background-image:url('../images/even.png'); 
	background-repeat:no-repeat;
	position:relative;

}

#block-views-biletul_zilei_listing-block_1 .view-content .views-table .even td,
.view-biletul-zilei-detalii .view-content .views-table .even td
{
	padding-bottom:11px;
	padding-top:7px;
	text-shadow:#FFF 1px 1px;
}


#block-views-biletul_zilei_listing-block_1 .attachment.attachment-after table.views-view-grid,
.view-biletul-zilei-detalii  .attachment.attachment-after table.views-view-grid 
{
	margin:5px 0 0 0;
}


.views-label-cota-totala, .views-label-miza, .views-label-castig {font-weight:bold;}
.views-field-cota-totala, .views-field-miza, .views-field-castig {padding:2px 0;}

.biletul-zilei-attachment {
	padding:5px;
	margin:5px;
	background-color:#FFF;
	opacity:0.85;
	filter:alpha(opacity=85);
}

.biletul-zilei-attachment .biletul-zilei-attachment-table td {
	font-size:14px;
	font-weight:bold;
	text-shadow:#FFF 2px 2px;
	color:#373737;
	padding:4px 3px;
}

.biletul-zilei-attachment .biletul-zilei-attachment-table td.biletul-zilei-attachment-label {
	width:135px;
}

/*end biletul zilei*/

#autocomplete {background-color:#fff;}

/*button*/
.button1 {
	background-image:url('../images/bl.png');
	background-position:center left;
	background-repeat:no-repeat;
	height:25px;
	padding-left:29px;
	margin:0;
	width:100px;
}

.button2 {
	background-image:url('../images/br.png');
	background-position:center right;
	background-repeat:no-repeat;
	height:25px;
	padding-right:4px;
	margin:0;
}

.button3 {
	background-image:url('../images/bc.png');
	background-position:center left;
	background-repeat:repeat-x;
	height:21px;
	padding:4px 0 0 5px;
	font-family:verdana;
	font-size:11px;
	font-weight:normal;
	color:#fff;
	text-shadow:#FFF 0px 0px;

}

#block-views-stiri_homepage-block_1 {
	margin-top:10px;
}

.homepage-news {
	margin-top:10px;
}

.homepage-news-content {
	clear:both;
	margin-bottom:15px;
}

.homepage-news .homepage-news-image {
	width:100px;
	float:left;
	margin:0 15px 35px 0;
	
}

.homepage-news .homepage-news-title a {
	font-size:14px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
}

.homepage-news .homepage-news-more {
	text-align:right;
}

tr.even, tr.odd {
	background-color:#EEEEEE;
	border-bottom:1px solid #CCCCCC;
	padding:2px 5px;
}

tr.odd {
	background-color:#fff;
}

.field-field-biletul-zilei {display:none;}

.breadcrumb-label-final {
	float:left;
	padding-left:5px;
	padding:7px;
	color:#000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.breadcrumb {
	float:left;
	padding-bottom:0;
}

.breadcrumb a {
	float:left;
	display:block;
	padding:7px;
	color:#000;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.breadcrum-separator {
	background-image:url('/sites/all/themes/betzone/images/breadcrumb_separator.png');
	background-repeat:no-repeat;
	background-position:top left;
	width:9px;
	height:33px;
	display:block;
	float:left;
}


/*bloc dreapta portocaliu*/
.bod {
	text-align:center;
	padding-bottom:10px;
	margin:0 0 10px 0;
}

.bod-title {
	padding:3px 0 5px 35px;
	margin:0 0 5px 0;
	text-align:left;
}

.bod-title.down {
	background-image:url('../images/bod-down.png');
	background-repeat:no-repeat;
	background-position:top left;
}

.bod-title.right {
	background-image:url('../images/bod-right.png');
	background-repeat:no-repeat;
	background-position:top left;
}

.bod-title a {
	color:#fff;
	font-size:11px;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

.dark-bg {
	background-color:#474747;	
}

.bod-pronosticuri {
	background-color:#fff;
	width:160px;
	margin:0 auto;
}

.bod-pronosticuri td {
	padding:4px 0;
}

.bod-pronosticuri .even {
	background-color:#fff;
}

.bod-small-info {
	font-size:12px;
}

.bod-pronosticuri .down td.first {
	border-right:1px solid #ccc;
	width:50%;
	background-color:#F7F6F3;
	padding:0;
}

.bod-pronosticuri .down td.second {
	width:50%;
	background-color:#DFEAD6;
	padding:0;
}

.bod-pronosticuri td.bod-footer {
	text-align:right;
	padding-right:5px;
}

.bod-pronosticuri .down td.bod-head {
	font-weight:bold;
	border:1px solid #ccc;
	border-top:none;
	padding:3px;
	font-size:13px;
}

/*tabel mare; Ex: case de pariuri*/
.big-table td, .big-table span, .big-table a {text-align:center;font-size:12px;}
.big-table .header {/*background-color:#72B13A;color:#fff;*/font-weight:bold;font-size:12px;}
.big-table .odd-case td,
.big-table .even-case td {vertical-align:middle;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:5px;}
.big-table .even-case td {background-color:#EEEEEE;}
.big-table .date {background-image:url('/sites/all/themes/betzone/images/gradient-orizontal.jpg');background-repeat:repeat-y;text-align:left;font-weight:bold;}
.big-table .date span {color:#fff;}
.big-table .first-col {text-align:left;}


.block-poll .links {display:none;}

.recent-articles {margin:0;}
.recent-articles ul {margin-top:0;}
.recent-articles ul li {margin-bottom:3px;}
.recent-articles  h3 {font-size:16px;padding:0;}
.recent-articles-date {font-size:12px;font-style:italic;color:#777;}

#comments h2 {font-size:16px;padding:0;}
#comments .box {background-color:#ebebeb;padding:10px;}
.forum-peel {position:fixed;top:0;right:0;}

.messages {background-color:#C8F6AF;border:1px solid #72CB67;margin-bottom:10px;padding:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
div.error, tr.error {padding:5px;}

.bonus-table {/*margin-top:10px;*/}
.bonus-table-image {padding:0;vertical-align:middle;}
.bonus-table-image img {-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;border-radiu:3px 3px 3px 3px;border:1px solid #CCCCCC;}
.bonus-table-bonus {text-align:right;padding:5px 0;}
.bonus-table-info {font-size:11px;color:#999;text-align:center;}

.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(/sites/all/themes/betzone/js/tipsy/tipsy.gif); }
  .tipsy-inner { 
  	padding:10px; 
  	background-color: black; 
  	color: white; 
  	max-width: 300px; 
  	text-align: left;
  }
  .tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-north { background-position: top center; }
  .tipsy-south { background-position: bottom center; }
  .tipsy-east { background-position: right center; }
  .tipsy-west { background-position: left center; }
  
  #gravity { width: 100%; margin: 5px 0; border-spacing: 5px; }
  #gravity td { text-align: center; vertical-align: middle; padding: 5px 0; background-color: #d0d0d0; }
  #gravity a { }
    #gravity a:hover { color: #505050; background: none; }

.live-stream  h3 {font-size:16px;}
  
 /*custom css pentru node type eveniment*/
.field-label {
  background-color: #ffffff;
  color: #000000;
  displat:inline;
  float:left;
}

.field-label, .field-items {
  padding:3px 0;
}

ul.links, ol.links {
  margin: 0px;
  padding: 0px;
}

.filter-wrapper .form-item {
  padding-left: 0;
}

.field-item {
  float: left;
  margin: 0 10px 0 0;
}

.field {
  clear: both;
  display: block;
  padding: 0 0 10px 0;
}
